<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type='text/css' href="CSS/estilo.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    


    <title>MegaStore</title>
  </head>


  <body class='bg-dark'>
      <div class="container bg-dark">
            <nav class="navbar  navbar-expand-sm " >
                    <a class="navbar-brand ml-5" href="#" style="color: #FF3366;">
                      MegaStore
                    </a>
                    <label></label>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active  ml-5" href="#" style="color: #FF3366;">Categorias  </a> 
                            <a class="nav-item nav-link active  ml-2" href="#" style="color: #FF3366;">Produtos  </a>
                            <a class="nav-item nav-link active  ml-2" href="#" style="color: #FF3366;">Ofertas  </a>
                            <a class="nav-item nav-link active  ml-2" href="#" style="color: #FF3366;">Meus pedidos  </a>
                        </div>        
                    </div>

                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
                    </form>            
                    
            </nav>
            
            
            <div class="col-10">   
                <div class="container mt-5">
                    <div class="row mt-5 text-center ">
                        <div class="col-sm-4 col-md-4 mt-5" >
                            <div class="imagemroupa">
                                    <img src="images/fogao.jpg">
                            </div>
                            <p class='mt-2 text-white'> Fogão <br>R$ 499.99</p>
                        
                        </div>
        
                        <div class="col-sm-4 col-md-4 mt-5" >
                            <div class="imagemroupa">
                                    <img src="images/gs20.jpg">                    
                            </div>
                            <p class='mt-2 text-white'> Galaxy S20<br>R$ 3999.99</p>
                        
                        </div>    

                        <div class="col-sm-4 col-md-4 mt-5 text-justify">
                            <button class="btn" onclick="openForm()">Chat</button> 
                            
                            <div class="chat-popup" id="myForm">
                                <form class="form-container">
                                  <h1>Chat</h1>
                              
                                  <label for="msg"><b>Message</b></label>
                                  <textarea placeholder="Type message.." name="msg" required></textarea>
                              
                                  <button type="submit" class="btn btn-secondary btn-lg">Send</button>
                                  <button type="submit" class="btn btn-danger btn-lg" onclick="closeForm()">Close</button>
                                  
                                </form>
                                
                            </div>
                              
                        </div>

                    </div>
        
        
        
                    <div class="row mt-5 text-center">
                        <div class="col-sm-12 col-md-4 mt-5" >
                            <div class="imagemroupa">
                                    <img src="images/macbook.jpg">
                            </div>
                            <p class='mt-2 text-white'> Macbook <br>R$ 6999.99</p>
                        
                        </div>
        
                        <div class="col-sm-12 col-md-4 mt-5" >
                            <div class="imagemroupa">
                                    <img src="images/ps4.jpg">
                            </div>
                            <p class='mt-2 text-white'> Playstation 4 <br>R$ 1999.99</p>
                        
                        </div>
                    </div>
        
        
        
                    <div class="row mt-5 text-center">
                        <div class="col-sm-12 col-md-4 mt-5" >
                            <div class="imagemroupa">
                                    <img src="images/ssd.jpg">
                            </div>
                            <p class='mt-2 text-white'> SSD <br>R$ 199.99</p>
                        
                        </div>
        
                        <div class="col-sm-12 col-md-4 mt-5" >
                            <div class="imagemroupa">
                                    <img src="images/switch.jpg">
                            </div>
                            <p class='mt-2 text-white'> Nintendo Switch<br>R$ 29.99</p>
                        
                        </div>
                    </div>
                </div>
            </div> 

        </div>
    

    </br>
    

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script>
        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }
        
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
    </script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
</body>
</html>