<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type='text/css' href="CSS/estilo.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    


    <title>MegaStore</title>
  </head>


  <body class='bg-dark'>
      <div class="container bg-dark">
            <nav class="navbar  navbar-expand-sm " >
                    <a class="navbar-brand ml-5" href="#" style="color: #FF3366;">
                      MegaStore
                    </a>
                    <label></label>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active  ml-5" href="#" style="color: #FF3366;">Categorias  </a> 
                            <a class="nav-item nav-link active  ml-2" href="#" style="color: #FF3366;">Produtos  </a>
                            <a class="nav-item nav-link active  ml-2" href="#" style="color: #FF3366;">Ofertas  </a>
                            <a class="nav-item nav-link active  ml-2" href="#" style="color: #FF3366;">Meus pedidos  </a>
                        </div>        
                    </div>

                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
                    </form>            
                    
            </nav>


            <div class='container mt-5'>
                <div class='row mt-5'>
                    <div class='col mt-5'>

                    </div>
                    <div class='col mt-5 text-light' >
                        <h4 class="text-centered" style="color: #FF3366;">Pedido Preparado!</h4>
                        <p>Seu pedido número 18945 foi preparado com sucesso.<br>
                        Enviamos a nota fiscal eletrônica para o e-mail: <p style="color: #FF3366;">jaqueline.lima@ztex.com</p><br>
                        <br><br>Em breve iremos informar o andamento do envio.</p>

                    </div>
                    <div class='col mt-5'>
                        
                    </div>
                </div>
            </div>

        </div>
    

    </br>
    

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script>
        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }
        
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
    </script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
</body>
</html>